@charset "utf-8";
html {
	font-family: 'Roboto', sans-serif;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
body {
	/*min-width: 1280px;*/
	margin: 0;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

   TABLE {
    width: 25em; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    padding: 0.5em; /* Поля вокруг содержимого таблицы */
    border: 2px solid black; /* Параметры рамки */
    text-align: right; /* Выравнивание по левому краю */
   }
   TH {
    background: #b0e0e6; /* Цвет фона */
    text-align: center;
   }

.editable{

  cursor: pointer;
}

.cellEditing{
}

   /*============== SVG menu =====================*/
   #menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: visible;
}



    .item .sector{transition:all .1s linear;fill:#fff;stroke:DarkTurquoise;cursor:pointer;outline:none;}

    .item:hover .sector,.item:focus .sector{fill:#eee;}

    .menu-trigger{fill:DarkTurquoise;pointer-events:auto;}

    .menu-trigger:hover,.menu-trigger:focus{cursor:pointer;}symbol{overflow:visible;}

    .menu-wrapper {
    position: relative;
    height: 0;
    width: 250px;
    padding-top: 50%; /* if the menu is in full circle mode. 50% if it is in semi-circle mode.*/
}
/*============================================*/